<div id="main-view">
  <h1>Welcome to Kafka Frontend!</h1>
  
  <div *ngIf="webSocketConnected">
    <input type="text" placeholder="Type a message..." [(ngModel)]="messageInput" />
    <button id="send-button-topic-1">Send the message on topic 1</button>
    <button id="send-button-topic-2">Send the message on topic 2</button>
    
    <div id="messages-container">
      <h2>Messages received from the backend:</h2>
      <ul id="messages-list">
        <li *ngFor="let item of items">
          {{ item.message }}
        </li>
      </ul>
    </div>
  </div>
  
  <div *ngIf="!webSocketConnected">
    <p>Connecting to WebSocket...</p>
  </div>
</div>